In [1]:
L = [1,2,3]
print type(L)
print
print len(L)
print
print L[1]
print L[-1]
print L[1:3]
print
print L + L
print L * 3

<type 'list'>

3

2
3
[2, 3]

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [2]:
l1 = [4,5,6]
l1[0] = 10
print l1

[10, 5, 6]

In [3]:
l1 = [1,2,3]
l1 = [4,5,6]
print l1

[4, 5, 6]

In [4]:
L = range(10)
print L
print L[::2]
print L[::-1]
print 4 in L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
True

In [5]:
t = (1,2,3)

print len(t)
print
print t[0]
print t[-1]
print t[0:2]
print t[::2]
print
print t + t + t
print t * 3
print
print 3 in t

3

1
3
(1, 2)
(1, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

True

In [6]:
t = (1,2,3)

t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [7]:
L = [1,2,3]
L[0] = 100

print L

[100, 2, 3]

In [8]:
d = {'one': 'hana', 'two': 'dul', 'three': 'set'}
print d['one']

hana

In [15]:
d = {'one': 'hana', 'two': 'dul', 'three': 'set'}

d['four'] = 'net' # 새 항목의 삽입
print d
d['one'] = 1      # 기존 항목의 값 변경
print d
print 'one' in d  # 키에 대한 멤버쉽 테스트
d['five'] = 'ddd'
print d
d['a'] = 1
print d

{'four': 'net', 'three': 'set', 'two': 'dul', 'one': 'hana'}
{'four': 'net', 'three': 'set', 'two': 'dul', 'one': 1}
True
{'four': 'net', 'three': 'set', 'five': 'ddd', 'two': 'dul', 'one': 1}
{'a': 1, 'three': 'set', 'two': 'dul', 'four': 'net', 'five': 'ddd', 'one': 1}

mapping 함수와 비슷한 역할!

In [16]:
d = {'one': 1, 'two': 'dul', 'three': 'set', 'four': 'net'}
print d.keys()    # 키만 리스트로 추출함
print d.values()  # 값만 리스트로 추출함
print d.items()   # 키와 값의 튜플을 리스트로 반환함

['four', 'three', 'two', 'one']
['net', 'set', 'dul', 1]
[('four', 'net'), ('three', 'set'), ('two', 'dul'), ('one', 1)]

리터럴 = 표기법

In [17]:
print type(3)       #정수
print type(3.3)     #실수
print type('abc')   #문자열

<type 'int'>
<type 'float'>
<type 'str'>

In [18]:
print type([])      #리스트
print type(())      #튜플
print type({})      #사전(dict)

<type 'list'>
<type 'tuple'>
<type 'dict'>

In [20]:
a = 0
L = [1,2,3]
print type(a) == type(0)
print type(L) == type([])
print type(L[0]) == type(0)
#int형이기 때문에 True

True
True
True

In [21]:
print type(None)    #None 객체, 아무 값도 없다(혹은 아니다)를 나타내는 객체
print
a = None
print a
print type(a)
# type(None) == type(a) 동일

<type 'NoneType'>

None
<type 'NoneType'>

In [22]:
a = 500
b = a
print id(a)
print id(b)
print
x = 1
y = 1
print id(x)
print id(y)

56532848
56532848

42952328
42952328

In [23]:
c = [1,2,3]
d = [1,2,3]
print c is d

a = 500
b = a
print a is b

x = 1
y = 1
print x is y

e = f = [4,5,6]
print e is f

False
True
True
True

is 키워드: 두 객체의 식별자가 동일한지 테스트한다.

In [28]:
c = [1,2,3]
d = [1,2,3]

e = 4
f = 4
print e is f

print c == d
print 
print c is d
c = d
print c is d
print d is c

True
True

False
True
True